<!DOCTYPE html>
  <head>
    <title>comoembajada</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
  </head>
  <body>
    <div class="header">
      <span class="material-symbols-outlined md-80">menu</span>
    </div>
    <div class="content">
      <h1 style="grid-column-start: 2; grid-column-end: 4; grid-row-start: 1; align-self: end; text-align: center; padding-bottom: 1rem; font-size: 3rem">Busca tu embajada o consulado</h1>
      <input style="grid-column-start: 2; grid-row-start: 2; grid-column-end: 4; grid-row-end: 3; border-radius: 100px" type="text" placeholder="">
    </div>
    <h1>Hello world!</h1>
  </body>
</html>